In [3]:
import pandas as pd
import numpy as  np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplewarnings('ignore')

df = pd.read_csv('/content/sample_data/Rainfall.csv')
df.head()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANN,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,1901,34.7,38.6,17.8,38.9,50.6,113.2,241.4,271.6,124.7,52.4,38.7,8.2,1030.8,73.2,107.3,751.0,99.3
1,1902,7.4,4.2,19.0,44.1,48.8,111.7,284.9,201.0,200.2,62.5,29.4,25.2,1038.4,11.6,111.9,797.8,117.2
2,1903,16.7,8.0,31.1,17.1,59.5,120.3,293.2,274.0,198.1,119.5,40.3,18.0,1195.9,24.7,107.7,885.6,177.8
3,1904,14.9,9.7,31.4,33.7,73.8,165.5,260.3,207.7,130.8,69.8,11.2,16.4,1025.1,24.5,138.8,764.3,97.4
4,1905,24.7,20.3,41.8,33.8,55.8,93.7,253.0,201.7,178.1,54.9,9.6,10.1,977.5,45.0,131.4,726.4,74.7

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   YEAR     113 non-null    int64
 1   JAN      113 non-null    float64
 2   FEB      113 non-null    float64
 3   MAR      113 non-null    float64
 4   APR      113 non-null    float64
 5   MAY      113 non-null    float64
 6   JUN      113 non-null    float64
 7   JUL      113 non-null    float64
 8   AUG      113 non-null    float64
 9   SEP      113 non-null    float64
 10  OCT      113 non-null    float64
 11  NOV      113 non-null    float64
 12  DEC      113 non-null    float64
 13  ANN      113 non-null    float64
 14  Jan-Feb  113 non-null    float64
 15  Mar-May  113 non-null    float64
 16  Jun-Sep  113 non-null    float64
 17  Oct-Dec  113 non-null    float64
dtypes: float64(17), int64(1)
memory usage: 16.0 KB

In [5]:
df.isnull().sum()

YEAR       0
JAN        0
FEB        0
MAR        0
APR        0
MAY        0
JUN        0
JUL        0
AUG        0
SEP        0
OCT        0
NOV        0
DEC        0
ANN        0
Jan-Feb    0
Mar-May    0
Jun-Sep    0
Oct-Dec    0
dtype: int64

In [11]:
df.shape


df['ANN'].value_counts()

1030.8    1
1312.3    1
1160.8    1
1320.9    1
1084.4    1
         ..
1127.9    1
1217.5    1
1372.0    1
1202.9    1
1092.5    1
Name: ANN, Length: 113, dtype: int64